body {
display: flex;
flex-direction: column;
background-color: #8C644D;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5B3547;
    padding: 16px 80px;
    font-weight: bold;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.logo{
    width: 80px;
    height: 80px;
    align-items: center;
}

.logo img{
    max-width: 80px;
    max-height: 80px;
    border:solid  white 2px;
    border-radius: 58px;
}

a {
    text-decoration: none;
    color: white;
}

.links{
    display: flex;
    gap: 16px;
    align-items: center;

}

.content1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 16px 80px;
    background-color: #8B677C;
    color: white;
    margin-top: 80px;
    font-size: larger;
}

.image{
    width: 300px;
    height: 300px;
    align-items: center;
}

.image img {
    max-height: 300px;
    width: auto;
    border: solid 1px white;
}

.content2 {
    display:flex;
    justify-content: center;
    gap: 36px;
    flex-wrap: wrap;
    background-color: #8C644D;
}

h2{
    margin-top: 0;
    text-align: center;
    color: white;
    

}

.one {
    width: 315px;
    height: 415px;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    border: solid 1px white;
    border-radius: 10px;
    color: black;
    padding: 10px;
    background-color: #D9BBA9;

}

.one img {
    max-height: 350px;
    max-width: 350px;
}

.quote {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #D9BBA9;
    height: 150px;
    font-size: 26px;
}

.call2action {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 150px;
    font-size: larger;
    border: solid 1px white;
    border-radius: 12px;
    margin-top: 20px;
    margin-bottom: 50px;
    background-color: #8B677C;
    color: white;
    width: 60%;
    height: 100px;
    padding: 16px;

    
}

button {
    background-color:  #73303C;
    padding: 8px;
    border:solid 1px rgb(255, 255, 255);
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: azure;
}

button:hover{
    background-color: #81535b;
    ;
}

h3 {
    margin: 0;
}



.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #5B3547;

}